[Unit]
Description=Cv bot for ya.prakticum
After=multi-user.target
[Service]
Type=simple
Restart=always
WorkingDirectory=/root/CV_bot
ExecStart=/usr/bin/python3 main.py
[Install]
WantedBy=multi-user.target